@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;500;700;900&display=swap');


@mixin font($fs, $fw) {
    font-family: Roboto, monospace, Arial;
    font-size: $fs;
    font-weight: $fw;
}

// colors
$black: black;
$black2: #00000E;
$white: #FFFFFF;
$bl: #2941AB;
$bl2: #3B5998;
$or: #FF5500;
$gr:#919496;
$gr2: #222326;
$gr3: #D9DADC;
$gr4: #AEAEAE;
$gr5: #6A6A6A;
$gr6: #333333;
$gr7: #E2E2E2;
$gr8: #5F5F5F;
$gr9: #8E8E8E;
$gr10: #B9B9B9;
$gr11: #C4C4C4;
// sreen-width
$full-width: 1141px;
$medium-width: 751px;
$small-width: 449px;

// query width
$medium-query: 991px;
$small-query: 479px;

// profile sreen-width
$p-full-width: 1150px;
