@import "variables";

body {
  background-color: $bl;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}
.background-img {
  background-image: url(../assets/images/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  background-color: $black;
}
.header-wrapper {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  max-width: $full-width;
  margin: 0 auto;
  .burger-icon {
    display: none;
    .hum-line {
      display: block;
      background-color: $white;
      border-radius: 4px;
      height: 2px;
      margin-bottom: 6px;
      width: 22px;
    }
  }
  ul {
    display: flex;
    padding: 0;
    @include font(16px, 400);
    .vertical-line {
      width: 5px;
      border-left: 1px solid $white;
      height: 16px;
      margin-right: 32px;
    }
    li {
      margin-right: 32px;
      list-style: none;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          color: $or;
        }
      }
    }
  }
}

.main-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 275px;
  h1 {
    color: $or;
    @include font(156px, 900);
    margin-bottom: 30px;
    max-width: 800px;
    text-indent: -2em;
    text-align: center;
  }
  p {
    color: $or;
    @include font(18px, 500);
    margin-bottom: 38px;
  }
  .main-link {
    background-color: $or;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    h2 {
      @include font(14px, 500);
      color: $bl;
      display: block;
      text-align: center;
      margin: 14px 37px;
    }
  }
}

footer {
  background-color: $black;
  padding: 80px 0;
  transform: translateY(172px);
  .footer-parent1,
  .footer-parent2 {
    display: flex;
    max-width: $full-width;
    margin: 0 auto;
  }
  .footer-parent1 {
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .footer-child1 {
    display: flex;
    .footer-child1__elem2 {
      display: flex;
      margin-left: 58px;
      div {
        margin-right: 128px;
        h1 {
          color: $gr;
          @include font(16px, 400);
          margin-top: 15px;
        }
        ul {
          padding: 0;
          li {
            list-style: none;
            a {
              @include font(16px, 400);
              color: $white;
              line-height: 35px;
              text-decoration: none;
              &:hover {
                color: $or;
              }
            }
          }
        }
      }
    }
  }
  .footer-child2 {
    display: flex;
    .social-button {
      background-color: $gr2;
      border-radius: 50%;
      display: block;
      margin-top: 20px;
      margin-right: 15px;
      height: 54px;
      width: 54px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        .icon {
          color: $or;
        }
      }
      .icon {
        color: $white;
        display: block;
        margin: 0 auto;
        margin-top: 15px;
      }
    }
  }
  .footer-parent2 {
    justify-content: space-between;
    align-items: baseline;
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        a {
          @include font(12px, 400);
          color: $gr;
          line-height: 14px;
          margin-right: 24px;
          text-decoration: none;
          &:hover {
            color: $or;
          }
        }
      }
    }
    p {
      @include font(12px, 400);
      color: $gr;
      line-height: 14px;
    }
  }
}

.burger-menu {
  background-color: $black;
  display: none;
  height: 100vh;
  max-width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  width: 447px;
  transform: translateX(100%);
  transition: 0.2s;
  z-index: 1;
  .burger-menu-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    img {
      margin: 0 38px 38px;
    }
    .burger-menu-child2 {
      margin: 38px 38px 0;
      padding: 0;
      ul {
        padding: 0;
      }
      .horizontal-line {
        border-top: 2px solid $white;
        display: block;
        height: 2px;
        width: 20px;
      }
      .burger-logins {
        a {
          @include font(28px, 400);
          color: $gr3;
          text-decoration: none;
          &:hover {
            color: $or;
          }
        }
      }
      li {
        list-style: none;
        margin-bottom: 25px;
        a {
          @include font(35px, 900);
          color: $white;
          text-decoration: none;
          &:hover {
            color: $or;
          }
        }
      }
    }
  }
}

// media query
@media (max-width: $medium-query) {
  .background-img {
    background-image: url(../assets/images/background2.png);
    background-repeat: no-repeat;
    background-size: contain;
    .burger-menu {
      display: block;
    }
    .burger-menu.burger-menu-active {
      transform: translateX(0);
    }
    .logo {
      height: 28px;
      width: 89px;
    }
    .header-wrapper {
      height: 54px;
      max-width: $medium-width;
      ul {
        display: none;
      }
      .burger-icon {
        position: relative;
        display: block;
        z-index: 10;
        .hum-line {
          background-color: $white;
          border-radius: 4px;
          height: 3px;
          margin-bottom: 4px;
          width: 22px;
        }
      }
    }

    .main-wrapper {
      h1 {
        @include font(104px, 900);
        max-width: 556px;
        text-indent: 0;
      }
      p {
        @include font(18px, 500);
        text-align: center;
        max-width: 373px;
      }
    }
    footer {
      padding: 50px 0;
      .footer-parent1,
      .footer-parent2 {
        max-width: $medium-width;
      }
      .footer-parent1 {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
      }
      .footer-child1 {
        flex-direction: column;
        .footer-child1__elem1 {
          margin-bottom: 50px;
        }
        .footer-child1__elem2 {
          justify-content: space-between;
          margin-left: 0;
          margin-bottom: 100px;
        }
      }
      .footer-child2 {
        .social-button {
          margin-top: 0;
          margin-right: 15px;
          height: 44px;
          width: 44px;
          .icon {
            margin-top: 11px;
          }
        }
      }
    }
  }
}

@media (max-width: $small-query) {
  .background-img {
    background-image: url(../assets/images/background3.png);
    background-repeat: no-repeat;
    background-size: contain;
    .header-wrapper {
      height: 54px;
      max-width: $small-width;
    }
  
    .main-wrapper {
      h1 {
        @include font(48px, 900);
        max-width: 312px;
      }
    }
    footer {
      padding: 50px 0;
      transform: translateY(306px);
      .footer-parent1,
      .footer-parent2 {
        max-width: $small-width;
      }
      .footer-child1 {
        flex-direction: column;
        .footer-child1__elem2 {
          div {
            margin-bottom: 52px;
          }
          flex-direction: column;
        }
      }
      .footer-parent2 {
        ul {
          flex-wrap: wrap;
          li {
            a {
              line-height: 25px;
              margin-right: 15px;
            }
          }
        }
        p {
          line-height: 25px;
        }
      }
    }
  }

}
