@import "variables";
.profile-wrapper {
    background-color: $black;
    height: 100vh;
.profile-header-wrapper {
  background-color: $gr6;
  margin-bottom: 70px;
  .profile-header {
    display: flex;
    justify-content: space-between;
    max-width: $p-full-width;
    margin: 0 auto;
    height: 80px;
    .profile-header-child1 {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 820px;
      .profile-form {
        display: flex;
        .search-field {
          height: 35px;
          background-color: $gr7;
          border-style: none;
          border-radius: 4px 0 0 4px;
          padding: 11px;
          width: 393px;
          outline: none;
          &::placeholder {
              @include font(12px, 400);
              color: $gr9;
          }
        }
        .search-btn {
          height: 35px;
          background-color: $gr7;
          border-style: none;
          border-radius: 0 4px 4px 0;
          color: $gr8;
        }
      }
      .upload-btn {
        @include font(16px, 400);
          background-color: $gr6;
          border-style: none;
          color: $gr10;
          padding: 0;
          outline: none;
      }
      a {
        @include font(16px, 400);
          color: $gr10;
          text-decoration: none;
      }
    }
    .profile-header-child2 {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 164px;
        h1 {
            margin: 0;
            @include font(16px, 400);
            color: $gr10;
        }
        .key-arrow {
            color: $gr10;
            transform: translateY(-2px);
        }
        
    }
  }
}
  .profile-continer {
      border: 1px solid $gr11;
      border-radius: 6px;
      padding: 53px;
      margin: 0 auto;
      max-width: $p-full-width;
      .profile-name-photo {
        background-color: $gr6;
        border-radius: 8px;
        padding-top: 14px;
          height: 400px;
          max-width: 300px;
          margin-bottom: 47px;
          img {
              display: block;
              margin: 0 auto;
              margin-bottom: 41px;
              background-size: cover;
          }
          h1 {
            @include font(32px, 700);
            margin: 0;
            margin-left: 28px;
            color: $white;
          }

      }
      .profile-continer-header {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .profile-header-elem1 {
              ul {
                  display: flex;
                  align-items: center;
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  .vertical-line {
                    width: 5px;
                    border-left: 1px solid $white;
                    color: $gr10;
                    height: 16px;
                    margin-right: 32px;
                  }
                  li {
                      margin-right: 20px;
                      a {
                        @include font(24px, 400);
                        color: $gr10;
                      }
                  }
              }
          }
          .CloudUploadIcon {
              cursor: pointer;
              color: $gr10;
              height: 50px;
              width: 50px;
          }
      }
  }
}
